<h1>Nicholas Hayden Bradley</h1>

<h2>Biography</h2>
<p>
 I am 22 years old. I was born and raised in Memphis,Tn and I am currently studying computer science.
</p>

<h2>Education Background</h2>
<p>
  I went to Grahamwood elementary school, then moved on White Station highschool, and soon with be a Univeristy of Memphis Alumni
</p>

<h2>Skills</h2>
<ul>
  <li>Ruby on Rails</li>
  <li>Python</li>
</ul>

<h2>Achievements</h2>
<ul>
  <li>Graduated Highschool</li>
  <li>I am about to graduate college</li>

</ul>
